@import "tailwindcss";

@font-face {
  font-family: 'Inter';
  src: url('/font/inter/inter-v20-latin-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/font/inter/inter-v20-latin-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/font/inter/inter-v20-latin-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/font/inter/inter-v20-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.text-400 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.text-500 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.text-600 {
  font-family: 'Inter';
  font-weight: 600;
}

.text-700 {
  font-family: 'Inter';
  font-weight: 700;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
  --items-background: #F4F3F1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --items-background: #F4F3F1;
  }
}

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 500;

}

/* Hide horizontal scrollbar for elements with .no-scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 20s linear infinite;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

